body {
  background-color: #ffffee;
}

#user-input {
  margin-bottom: 35px;
}

.table > thead {
  background-color: #eee;
}

.error {
  color: #F09690;
}

.input-error {
  background-color: #F09690;
} 